<header>
  <h1>What's your Burger?</h1>
</header>

<section class="container">
  <h2>Order Up!</h2>
  <ul>
    {{#each burgers }}
    <li>
      {{#unless devoured}}
      <p>{{id}} {{text}} </p>
      {{/unless}}
    </li>
    {{/each}}
  </ul>
</section>

<section class="container">
  <h2>Devoured</h2>
  <ul>
    {{#each burgers }}
    <li>
      {{#if devoured}}
      <p>{{id}} {{text}} </p>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</section>

{{!-- <pre>
  {{burgersjson}}
</pre> --}}